<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

    <%= htmlWebpackPlugin.files.webpackManifest %>

</head>

<body>
<div id="app">
</div>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</body>
</html>
